.forma03-encabezado h4{
    padding: 0; margin: 0; 
    color: #CC6600;
}

.forma03-encabezado img{
    width:95px;
}

.forma03-tabla .encabezado{
    width: 100%;
    color: white;
    background-color: #006699;
}

.forma03-tabla th, .forma03-tabla td{
    padding: 0.50rem;
}