@import url("forma03.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opciones:hover{
    background: grey;
}

.navegacion{
    padding-left: 50px;
    padding-right: 50px;
    
}

.ingresar{
    position: absolute;
    right: 50px;
}

.prueba{
    text-align: justify;
    /* margin-right: 50px; */
}

.carousel-inner .carousel-item img{
    width: 100%;
}

#demo{
    margin-top: 0;
}

footer{
    margin: 0;
    /* height: 360px; */
    background: #002484;
    background-image: url(../img/footer-bg.png);
    border-top: 5px solid #001a4d;
}

footer .fondo{
    height: 360px;
    padding-top: 100px;
    background-image: url(img/footer-bg.png);
}

.container-fluid{
    padding: 0;
}

.contacto{
    background: #ffcc00;
    border-radius: 0;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
}

/* colaboración */
.btn1 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .btn1 {
      transition: none;
    }
  }
  
  .btn1:hover, .btn1:focus {
    text-decoration: none;
  }
  
  .btn1:focus, .btn1.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn1.disabled, .btn1:disabled {
    opacity: 0.65;
  }
  
  .btn1:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  a.btn1.disabled,
  fieldset:disabled a.btn1 {
    pointer-events: none;
  }

  .btn-outline-login {
	color: #000000;
	background-color: transparent;
	background-image: none;
	border-color: #000000;
  }
  
  .btn-outline-login:hover {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
  }
  
  .btn-outline-login:focus, .btn-outline-login.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .btn-outline-login.disabled, .btn-outline-login:disabled {
	color: #ffc107;
	background-color: transparent;
  }
  
  .btn-outline-login:not(:disabled):not(.disabled):active, .btn-outline-login:not(:disabled):not(.disabled).active,
  .show > .btn-outline-login.dropdown-toggle {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
  }
  
  .btn-outline-login:not(:disabled):not(.disabled):active:focus, .btn-outline-login:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-login.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .perfil{
    color: rgb(0, 0, 0);
    background: #F8F9FA;
    border-radius: 0;
}

.perfil:hover{
    background: rgb(208, 209, 211);
}

.perfil:focus{
    background: rgb(177, 179, 180);
    outline: 0;
    box-shadow: none;
}
/* /////////// */

.boton-entrar{
    background: #002484;
    color: #F8F9FA;
    font-size: 1.2em;
}

.boton-entrar:hover{
    background: #1d50db;
}

.boton-entrar:active{
    background: #F8F9FA;
    color: #000000;
}

.btn-danger:focus{
    box-shadow: none;
}
