.curso{
    height: 250px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: azure;
    border-radius: 10px;
}

.perfil-maestro{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px; 
}